{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="h-[100vh] flex items-center">
    <div class="flex justify-center items-center">
        <div class="basis-1/2">
            <h1 class="heading text-2xl">Welcome to  KhAcci vai</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, ipsam itaque? Maiores omnis consequatur veritatis amet molestiae tempora aliquid natus eos sint, ab doloremque dignissimos rem, est error, odit quae?</p>
        </div>
        <div>
            <img class="rounded-lg" src="{% static 'homePic.jpg' %}" alt="">
        </div>
    </div>
</div>
{% endblock %}